.errorpagemain{
    display: flex;
    flex-direction: column;
    padding: 3em;
    align-items: center;
    color: white;
    background-color: rgb(20, 20, 20);
    height: 100vh;
}
/* .travoltagif{
    width: 80%;
    height: 80%;
} */